{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Lista de la compra</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" media="screen">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
        <link rel='stylesheet' href="{% static "css/main.css" %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js" charset="utf-8"></script>
        <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="https://npmcdn.com/react-router@2.4.0/umd/ReactRouter.min.js"></script>
    </head>
    <body>
        <div id="container">
        </div>

        <script type="text/babel">
        var {
            Router,
            Route,
            IndexRoute,
            IndexLink,
            Link
        } = ReactRouter;

        var destination = document.querySelector("#container");

        class Home extends React.Component{
            constructor(){
                super();
                this.state = {
                    items: []
                }
            }

            componentDidMount(){
                fetch('http://localhost:8000/api/listitem/')
                    .then(response => response.json())
                    .then(json=> {
                        console.log(json)
                        this.setState({items: json});
                    });
            }

            render() {
                return (
                    <div className="small-10 small-offset-1 medium-8 medium-offset-2 columns end">
                        <h3>Pendiente</h3>
                        <div className="list-item row">
                            <div className="item-title small-6 columns text-center">Artículo</div>
                            <div className="icons small-2 columns text-center">Cantidad</div>
                            <div className="icons small-2 columns text-center">Usuario</div>
                            <div className="icons small-2 columns text-center">¿Comprado?</div>
                        </div>
                        {this.state.items.map(item=>{
                            if(item.state == true)
                                return;
                            return (
                                <div className="list-item row">
                                    <div className="item-title small-6 columns text-center">
                                        {item.name}
                                    </div>
                                    <div className="icons small-2 columns text-center">
                                        {item.qty}
                                    </div>
                                    <div className="icons small-2 columns text-center">
                                        {item.username}
                                    </div>
                                    <div className="icons small-2 columns text-center">
                                        <button className="button" type="button" name="button">Comprado</button>
                                    </div>
                                </div>
                            )
                        })}

                        <h3 className="middle-title">Compradas</h3>
                        <div className="completed-list-item row">
                            <div className="item-title small-5 columns text-center">Artículo</div>
                            <div className="icons small-1 columns text-center">Cantidad</div>
                            <div className="icons small-2 columns text-center">Usuario</div>
                            <div className="icons small-2 columns text-center">¿Comprado?</div>
                            <div className="icons small-2 columns text-center">Borrar</div>
                        </div>
                        {this.state.items.map(item=>{
                            if(item.state == false)
                                return
                            return (
                                <div className="completed-list-item row">
                                <div className="item-title small-5 columns text-center">
                                {item.name}
                                </div>
                                <div className="icons small-1 columns text-center">
                                {item.qty}
                                </div>
                                <div className="icons small-2 columns text-center">
                                {item.username}
                                </div>
                                <div className="icons small-2 columns text-center">
                                <button className="button" type="button" name="button">Otro!</button>
                                </div>
                                <div className="icons small-2 columns text-center">
                                <button className="button" type="button" name="button">Borrar</button>
                                </div>
                                </div>

                            )
                        })}
                    </div>
                );
            }
        };

        class AddItem extends React.Component{
            render(){
                return (
                    <div className='row text-center'>
                        <div className='small-12 medium-8 medium-offset-2 columns text-left'>
                        <h1 className="text-center">Nuevo artículo</h1>
                        <hr/>
                        <div className="input-group">
                            <span className="input-group-label">Nombre:</span>
                            <input type="text" className='input-group-field form-control' />
                        </div>
                        <div className="input-group">
                            <span className="input-group-label">Cantidad:</span>
                            <input type="number" className='input-group-field form-control' />
                        </div>
                            <div className="input-group">
                            <span className="input-group-label">Nombre del usuario:</span>
                            <input type="text" className='input-group-field form-control' />
                        </div>
                        <input type="hidden" value="False"/>

                        <button className='button'>Añadir nuevo</button>
                        </div>
                    </div>
                );
            }
        };

        class App extends React.Component{
            render(){
                return (
                    <div className="row">
                        <button className='button add-item'>
                            <Link to="/add-item" activeClassName="active">+</Link>
                        </button>
                        <div className="text-center">
                            <h1> Lista de la compra </h1>
                        </div>
                        <hr/>
                        <div className="content">
                            {this.props.children}
                        </div>
                  </div>
                )
            }
        }

        ReactDOM.render(
            <Router>
              <Route path="/" component={App}>
                <IndexRoute component={Home}/>
                <Route path="/add-item" component={AddItem} />
              </Route>
            </Router>,
            destination
        );

        </script>


        <script type="text/javascript">
            $(document).foundation();
        </script>
    </body>
</html>
