<div class='row text-center'>
    <div class='small-12 medium-8 medium-offset-2 columns text-left'>
        <h1 class="text-center">Nuevo artículo</h1>
        <hr>
        <!-- nombre del artículo -->
        <div class="input-group">
            <span class="input-group-label">Nombre:</span>
            <input type="text" ng-model="newItem.name" class='input-group-field form-control' />
        </div>
        <!-- cantidad -->
        <div class="input-group">
            <span class="input-group-label">Cantidad:</span>
            <input type="number" ng-model="newItem.qty" class='input-group-field form-control' />
        </div>
        <!-- Nombre del usuario -->
        <div class="input-group">
            <span class="input-group-label">Nombre del usuario:</span>
            <input type="text" ng-model="newItem.username" class='input-group-field form-control' />
        </div>
        <input type="hidden" ng-model="newItem.state" value="False">

        <button class='button' ng-click="addItem()">Añadir nuevo</button>
    </div>
</div>
